<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}

</style>
</head>

<body>
<br>
<center>
<button type="button" class="btn btn-outline-secondary"><a href="/">Home</a></button>
<button type="button" class="btn btn-outline-secondary"><a href="/contact_us">Contact Us</a></button>
<button type="button" class="btn btn-outline-secondary"><a href="/help">Help</a></button>
</center>
<br>
<title>ABOUT US</title>
<div class = "card">
<center><h3>About Project</h3></center>
<font size="4">This project aims to create a database-driven web application that takes into account all the general information of kinases, Inhibitors and Phosphorylation sites. Additionally, users can also upload phosphoproteomic data to visualize in a graphical representation. The website was developed by a group of five students part of MSc Bioinformatics from the Queen Mary's University of London, under the supervision of Prof Conrad Bessant and Dr Fabrizio Smeraldi.<br> 
</font>
</div>
<br>
<div class = "card">
<div class="w3-row-padding w3-grayscale">
<div class="w3-col l3 m6 w3-margin-bottom">
<h2>TEAM MEMBERS:</h2>
<h3>Abhilash R Sarvadevabhatla</h3>
<p class="w3-opacity"> Student </p>
<p> Experience in web development and component integration. Proficient and highly accurate in data collection, sorting, and analysis.</p>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
<h3>Arun Retnakumar</h3>
<p class="w3-opacity"> Student </p>
<p>  Esteemed knowledge in SQLite and flask-script integration. Proficient and highly accurate in data collection, sorting, and analysis.</p>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
<h3>Samia Asvid</h3>
<p class="w3-opacity"> Student </p>
<p> Expert in the field of Phosphoproteomic data analysis and data visualisation.Proficient and highly accurate in data collection, sorting, and analysis. </p>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
<h3>Solomon P J Pungong</h3>
<p class="w3-opacity"> Student </p>
<p> Experience in web development and component integration. Proficient and highly accurate in data collection, sorting, and analysis.</p>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
<h3>Tong Meng</h3>
<p class="w3-opacity"> Student </p>
<p> Esteemed knowledge in SQLite and flask-script integration. Proficient and highly accurate in data collection, sorting, and analysis. </p>
</div>
</div>
</div>
</body>
</html>
