<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
</style>
</head>
<center>
<button type="button" class="btn btn-outline-secondary"><a href="/">Home</a></button>
<button type="button" class="btn btn-outline-secondary"><a href="/about_us">About Us</a></button>
<button type="button" class="btn btn-outline-secondary"><a href="/help">Help</a></button>
</center>
<br>
<title>CONTACT US</title>
<body>
<div>
<h1>CONTACT US:</h1>
<div class="card" style="background-color:LightBlue;">
<h3>SUPERVISORS:</h3>
<p><b>Prof Conrad Bessant:</b> c.bessant@qmul.ac.uk</p>
<p><b>Dr Fabrizio Smeraldi:</b> f.smeraldi@qmul.ac.uk</p>
</div>
<br>
<div class="card" style="background-color:GoldenRod;">
<h4>STUDENT EMAILS</h4>
<p>
<br>
<b>Abhilash:</b> bt19678@qmul.ac.uk
<br>
<b>Arun:</b> bt19658@qmul.ac.uk
<br>
<b>Samia:</b> bt19614@qmul.ac.uk
<br>
<b>Solomon:</b> bt19634@qmul.ac.uk
<br>
<b>Tong:</b> ml18632@qmul.ac.uk
</p>
</div>
<br>
<div class="card" style="background-color:Khaki;">
<h3>ADDRESS:</h3>
<p> School of Biological and Chemical Sciences,
<br> Queen Mary's University of London,
<br> Mile End Rd,
<br> Bethnal Green,
<br> London, E1 4NS.
</p>
</div>
</div>
</body>
</html>
